/*
    Document   : profile
    Created on : Jan 10, 2012, 11:31:25 PM
    Author     : marc
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


#profile-pic {
    width: 200px;
    float: left;
    padding: 10px 0 0;
    position: relative;
    border-right: 1px solid #fff;
    font-size: 12px;
    height: 300px;
}

#profile-pic > a {
    display: block;
    with: 150px;
    margin-bottom: 10px;
}

#profile-pic img {
    width: 187px;
    height: 249px;
}

#profile-banner {
    overflow: hidden;
    position: relative;
    padding: 10px 10px 0;
    height: 300px;
    border-left: 1px solid #aaa;
}

#profile-banner #share-buttons {
    margin-top: 40px;
}

#info-container a,
#info-container p,
#info-container span {
    color: white;
}

#resume span {
    padding: 17px 5px;
    display: block;
}

#resume span a {
    color: #DDD;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
}

.mail-to:hover {
    text-decoration: underline;
}

#projects-list header, #updates-wall header{
    font-weight: bold;
}

#projects-list ul{
    padding: 0 0 0 15px;
}

#projects-list ul li{
    margin-bottom: 10px;
}

#projects-list .projects span.duration {
    display: block;
    font-style: italic;
}

#projects-list span.title {
    background: #EEE;
    margin-left: 10px;
}
#projects-list span.title a{
    text-decoration: underline;
}

#updates-wall {
    margin-bottom: 30px;
    border-bottom: 1px solid #CCC;
}

#updates-wall .update {
    min-height: 30px;
}